#mainicon{
	background-color: #57043D;

    color: white;
}
h1{
	color: white;
text-align: center;
font-size: 50px;
font-weight: bold;
}
#linkbtn{
	color:white;
	display: block;
	text-decoration: none;
	list-style-type: none;
}

.row{
	padding-top: 20px;
}
.col-md-4{
	align-items: center;
	font-size: 50px;
}
.col-md-4:hover{
box-shadow: 0 0 10px rgba(0,0,0,10);
padding: 10px;
background-color:  #2C011E;
}